<div class="jumbotron" id ="register">



<div id ="candidate_reg_form" class = "registration_form">
<h2 class="page-header">Communication Survey</h2>


<form method="post" action="/submit_survey">
  <ol>
    <li>
  <div class="form-group" id ="Q1" >
  <label> I try to anticipate and predict possible causes of confusion, and I deal with them up front.</label>
    <div class="radio">
      <label><input type="radio" name = "radio_group1"  value="not_at_all">Not at all</label>
    </div>
    <div class="radio">
      <label><input type="radio" name = "radio_group1"  value="rarely">Rarely</label>
    </div>
    <div class="radio disabled">
      <label><input type="radio" name = "radio_group1" value="sometimes">Sometimes</label>
    </div>
    <div class="radio disabled">
      <label><input type="radio" name = "radio_group1"  value="often">Often</label>
    </div>
    <div class="radio disabled">
      <label><input type="radio" name = "radio_group1"  value="very_often">Very Often</label>
    </div>
  </div>
</li>
<li>
<div class="form-group">
<label>When I write a memo, email, or other document, I give all of the background information and detail I can to make sure that my message is understood.</label>
<div class="radio">
  <label><input type="radio" name = "radio_group2" value="not_at_all">Not at all</label>
</div>
<div class="radio">
  <label><input type="radio" name = "radio_group2" value="rarely">Rarely</label>
</div>
<div class="radio disabled">
  <label><input type="radio" name = "radio_group2" value="sometimes">Sometimes</label>
</div>
<div class="radio disabled">
  <label><input type="radio" name = "radio_group2" value="often">Often</label>
</div>
<div class="radio disabled">
  <label><input type="radio" name = "radio_group2" value="very_often">Very Often</label>
</div>
</div>
</li>

<li>
<div class="form-group">
<label> If I don't understand something, I tend to keep this to myself and ensure I figure it out later.</label>
<div class="radio">
  <label><input type="radio" name = "radio_group3" value="not_at_all">Not at all</label>
</div>
<div class="radio">
  <label><input type="radio" name = "radio_group3" value="rarely">Rarely</label>
</div>
<div class="radio disabled">
  <label><input type="radio" name = "radio_group3" value="sometimes">Sometimes</label>
</div>
<div class="radio disabled">
  <label><input type="radio" name = "radio_group3" value="often">Often</label>
</div>
<div class="radio disabled">
  <label><input type="radio" name = "radio_group3" value="very_often">Very Often</label>
</div>
</div>
</li>
<li>
<div class="form-group">
<label> I'm surprised to find that people haven't understood what I've said.</label>
<div class="radio">
  <label><input type="radio" name = "radio_group4" value="not_at_all">Not at all</label>
</div>
<div class="radio">
  <label><input type="radio" name = "radio_group4" value="rarely">Rarely</label>
</div>
<div class="radio disabled">
  <label><input type="radio" name = "radio_group4" value="sometimes">Sometimes</label>
</div>
<div class="radio disabled">
  <label><input type="radio" name = "radio_group4" value="often">Often</label>
</div>
<div class="radio disabled">
  <label><input type="radio" name = "radio_group4" value="very_often">Very Often</label>
</div>
</div>
</li>
<li>
<div class="form-group">
<label> I can tend to say what I think, without worrying about how the other person perceives it. I assume that we'll be able to work it out later.</label>
<div class="radio">
  <label><input type="radio" name = "radio_group5" value="not_at_all">Not at all</label>
</div>
<div class="radio">
  <label><input type="radio" name = "radio_group5" value="rarely">Rarely</label>
</div>
<div class="radio disabled">
  <label><input type="radio" name = "radio_group5" value="sometimes">Sometimes</label>
</div>
<div class="radio disabled">
  <label><input type="radio" name = "radio_group5" value="often">Often</label>
</div>
<div class="radio disabled">
  <label><input type="radio" name = "radio_group5" value="very_often">Very Often</label>
</div>
</div>
</li>
<li>
<div class="form-group">
<label> When people talk to me, I try to see their perspectives.</label>
<div class="radio">
  <label><input type="radio" name = "radio_group6" value="not_at_all">Not at all</label>
</div>
<div class="radio">
  <label><input type="radio" name = "radio_group6" value="rarely">Rarely</label>
</div>
<div class="radio disabled">
  <label><input type="radio" name = "radio_group6" value="sometimes">Sometimes</label>
</div>
<div class="radio disabled">
  <label><input type="radio" name = "radio_group6" value="often">Often</label>
</div>
<div class="radio disabled">
  <label><input type="radio" name = "radio_group6" value="very_often">Very Often</label>
</div>
</div>
</li>
<li>
<div class="form-group">
<label> I use email to communicate complex issues with people. It's quick and efficient.</label>
<div class="radio">
  <label><input type="radio" name = "radio_group7" value="not_at_all">Not at all</label>
</div>
<div class="radio">
  <label><input type="radio" name = "radio_group7" value="rarely">Rarely</label>
</div>
<div class="radio disabled">
  <label><input type="radio" name = "radio_group7" value="sometimes">Sometimes</label>
</div>
<div class="radio disabled">
  <label><input type="radio" name = "radio_group7" value="often">Often</label>
</div>
<div class="radio disabled">
  <label><input type="radio" name = "radio_group7" value="very_often">Very Often</label>
</div>
</div>
</li>
<li>
<div class="form-group">
<label>When I finish writing a report, memo, or email, I scan it quickly for typos and so forth, and then send it off right away..</label>
<div class="radio">
  <label><input type="radio" name = "radio_group8" value="not_at_all">Not at all</label>
</div>
<div class="radio">
  <label><input type="radio" name = "radio_group8" value="rarely">Rarely</label>
</div>
<div class="radio disabled">
  <label><input type="radio" name = "radio_group8" value="sometimes">Sometimes</label>
</div>
<div class="radio disabled">
  <label><input type="radio" name = "radio_group8" value="often">Often</label>
</div>
<div class="radio disabled">
  <label><input type="radio" name = "radio_group8" value="very_often">Very Often</label>
</div>
</div>
</li>
<li>
<div class="form-group">
<label> When talking to people, I pay attention to their body language.</label>
<div class="radio">
  <label><input type="radio" name = "radio_group9" value="not_at_all">Not at all</label>
</div>
<div class="radio">
  <label><input type="radio" name = "radio_group9" value="rarely">Rarely</label>
</div>
<div class="radio disabled">
  <label><input type="radio" name = "radio_group9" value="sometimes">Sometimes</label>
</div>
<div class="radio disabled">
  <label><input type="radio" name = "radio_group9" value="often">Often</label>
</div>
<div class="radio disabled">
  <label><input type="radio" name = "radio_group9" value="very_often">Very Often</label>
</div>
</div>
</li>
<li>
<div class="form-group">
<label>I use diagrams and charts to help express my ideas.</label>
<div class="radio">
  <label><input type="radio" name = "radio_group10" value="not_at_all">Not at all</label>
</div>
<div class="radio">
  <label><input type="radio" name = "radio_group10" value="rarely">Rarely</label>
</div>
<div class="radio disabled">
  <label><input type="radio" name = "radio_group10" value="sometimes">Sometimes</label>
</div>
<div class="radio disabled">
  <label><input type="radio" name = "radio_group10" value="often">Often</label>
</div>
<div class="radio disabled">
  <label><input type="radio" name = "radio_group10" value="very_often">Very Often</label>
</div>
</div>
</li>
<li>
<div class="form-group">
<label>Before I communicate, I think about what the person needs to know, and how best to convey it.</label>
<div class="radio">
  <label><input type="radio" name = "radio_group11" value="not_at_all">Not at all</label>
</div>
<div class="radio">
  <label><input type="radio" name = "radio_group11" value="rarely">Rarely</label>
</div>
<div class="radio disabled">
  <label><input type="radio" name = "radio_group11" value="sometimes">Sometimes</label>
</div>
<div class="radio disabled">
  <label><input type="radio" name = "radio_group11" value="often">Often</label>
</div>
<div class="radio disabled">
  <label><input type="radio" name = "radio_group11" value="very_often">Very Often</label>
</div>
</div>
</li>
<li>
<div class="form-group">
<label> When someone's talking to me, I think about what I'm going to say next to make sure I get my point across correctly.</label>
<div class="radio">
  <label><input type="radio" name = "radio_group12" value="not_at_all">Not at all</label>
</div>
<div class="radio">
  <label><input type="radio" name = "radio_group12" value="rarely">Rarely</label>
</div>
<div class="radio disabled">
  <label><input type="radio" name = "radio_group12" value="sometimes">Sometimes</label>
</div>
<div class="radio disabled">
  <label><input type="radio" name = "radio_group12" value="often">Often</label>
</div>
<div class="radio disabled">
  <label><input type="radio" name = "radio_group12" value="very_often">Very Often</label>
</div>
</div>
</li>

<li>
<div class="form-group">
<label>Before I send a message, I think about the best way to communicate it (in person, over the phone, in a newsletter, via memo, and so on).</label>
<div class="radio">
  <label><input type="radio" name = "radio_group13" value="not_at_all">Not at all</label>
</div>
<div class="radio">
  <label><input type="radio" name = "radio_group13" value="rarely">Rarely</label>
</div>
<div class="radio disabled">
  <label><input type="radio" name = "radio_group13" value="sometimes">Sometimes</label>
</div>
<div class="radio disabled">
  <label><input type="radio" name = "radio_group13" value="often">Often</label>
</div>
<div class="radio disabled">
  <label><input type="radio" name = "radio_group13" value="very_often">Very Often</label>
</div>
</div>
</li>
<li>
<div class="form-group">
<label>I try to help people understand the underlying concepts behind the point I am discussing. This reduces misconceptions and increases understanding.</label>
<div class="radio">
  <label><input type="radio" name = "radio_group14" value="not_at_all">Not at all</label>
</div>
<div class="radio">
  <label><input type="radio" name = "radio_group14" value="rarely">Rarely</label>
</div>
<div class="radio disabled">
  <label><input type="radio" name = "radio_group14" value="sometimes">Sometimes</label>
</div>
<div class="radio disabled">
  <label><input type="radio" name = "radio_group14" value="often">Often</label>
</div>
<div class="radio disabled">
  <label><input type="radio" name = "radio_group14" value="very_often">Very Often</label>
</div>
</div>
</li>


<li>
<div class="form-group">
<label>Before I send a message, I think about the best way to communicate it (in person, over the phone, in a newsletter, via memo, and so on).</label>
<div class="radio">
  <label><input type="radio" name = "radio_group15" value="not_at_all">Not at all</label>
</div>
<div class="radio">
  <label><input type="radio" name = "radio_group15" value="rarely">Rarely</label>
</div>
<div class="radio disabled">
  <label><input type="radio" name = "radio_group15" value="sometimes">Sometimes</label>
</div>
<div class="radio disabled">
  <label><input type="radio" name = "radio_group15" value="often">Often</label>
</div>
<div class="radio disabled">
  <label><input type="radio" name = "radio_group15" value="very_often">Very Often</label>
</div>
</div>
</li>
</ol>


<button type="submit" id ="submit_register" class="btn btn-default">Submit</button>
</form>
</div>
</div>
