<form class="form-horizontal" id ="post_position">
<fieldset>

<!-- Form Name -->
<legend>Post Position</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="Title">Title</label>
  <div class="col-md-4">
  <input id="Title" name="Title" type="text" placeholder="Title" class="form-control input-md">
  <span class="help-block">help</span>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="location">Location</label>
  <div class="col-md-4">
  <input id="location" name="location" type="text" placeholder="Location of position" class="form-control input-md">
  <span class="help-block">help</span>
  </div>
</div>
<div class="form-group">
  <label class="col-md-4 control-label" for="location">Term</label>
  <div class="col-md-4">
  <input id="location" name="location" type="number" placeholder="Length of term in months" class="form-control input-md">
  <span class="help-block">help</span>
  </div>
</div>

<!-- Textarea -->
<div class="form-group">
  <label class="col-md-4 control-label" for="description">Description</label>
  <div class="col-md-4">
    <textarea class="form-control" id="description" name="description">Description of position</textarea>
  </div>
</div>

</fieldset>
</form>
