<div id = "render_here">
  first
</div>

<div id = "render_here_again">
  second
</div>



<script id ="first-template" type="text/x-handlebars-template">
  <div>
    <h1 style ="color:red"> {{name}} </h1>
    <h2 style ="color:green"> {{{body}}} </h2>
</div>
</script>


<script
  src="https://code.jquery.com/jquery-3.1.1.js"
  integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.js"></script>

<script id="artworkinfo" type="text/x-handlebars-template">
  {{#each art}}
    {{width}},{{height}}
  {{/each}}
</script>
