<form action="/upload" method="post" enctype="multipart/form-data">
  <input type="file" name="myimage"/>
  <input type="text" name="owner" placeholder="imageOwner"/>
    <input type="text" name="description" placeholder="imageDescription"/>
    <input type="submit" name="submit" value="submit">
</form>
